@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playwrite+HU:wght@100..400&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Edu+AU+VIC+WA+NT+Hand:wght@400..700&family=Playwrite+HU:wght@100..400&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nerko+One&display=swap'); /* Nerko One*/
@import url('https://fonts.googleapis.com/css2?family=Acme&family=Lobster&family=Nerko+One&display=swap'); /*Acme Lobster Nerko One*/
@import url('https://fonts.googleapis.com/css2?family=Fredoka+One&display=swap'); /*Fredoka One*/
@import url('https://fonts.googleapis.com/css2?family=Courgette&display=swap'); /*Courgette*/
@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300&display=swap');/*Comfortaa*/
@import url('https://fonts.googleapis.com/css2?family=Concert+One&family=Righteous&display=swap');/*Concert One*/
@import url('https://fonts.googleapis.com/css2?family=Righteous&display=swap');/*Righteous*/
@import url('https://fonts.googleapis.com/css2?family=Concert+One&family=Monda:wght@700&family=Righteous&display=swap');/*Monda*/
@import url('https://fonts.googleapis.com/css2?family=Maven+Pro&display=swap');/*Maven Pro*/
@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200&display=swap'); /*Nunito*/
/*Nunito Maven Pro Righteous Monda Concert One Courgette Fredoka One Lobster Nerko One Poppins Playwrite HU*/

/* Media query for big screens */
@media (min-width: 781px) {
  html {
    font-size: 14px;
    font-family: "Maven Pro", sans-serif;
    height: 100%; /* Ensure html fills the viewport */
  }

  body {
    margin: 0;
    height: 100%; /* Ensure body fills the viewport */
    background-color: white;
    background-image: url("../public/photo_black_heads.jpg");
    background-size: cover; /* Ensures the image covers the viewport */
    background-position: center; /* Center the image */
    background-repeat: no-repeat;/* Prevent tiling */
    overflow: hidden; /* Prevent scrolling */
  }

  .App {
    width: 66%;
    margin: auto;
    height: 100vh; /* Allow `.App` to take full height of the body */
    max-height: 100%; /* Restrict `.App` height to viewport */
    background-color: white; /* Ensure visibility of content */
    box-shadow: -10px 0 15px -5px rgba(127, 1, 1, 0.3), 10px 0 15px -5px rgba(0, 0, 0, 0.3); /* Left and right shadow */
    overflow-y: scroll; /* Enable scrolling without showing scrollbar */
    scrollbar-width:thin;
    overflow-x: hidden;
  }
}
/* Media query for small screens */
@media (max-width: 780px) {
  html {
    font-size: 14px;
    font-family: "Maven Pro", sans-serif;
    height: 100%; /* Ensure html fills the viewport */
  }
  
  body {
    margin: 0;
    height: 100%; /* Ensure body fills the viewport */
    background-color: white;
  }
  
  .App {
    width: 100%;
    margin: auto;
    height: 100vh; /* Allow `.App` to take full height of the body */
    max-height: 100%; /* Restrict `.App` height to viewport */
    background-color: white; /* Ensure visibility of content */
    overflow-y: scroll; /* Enable scrolling without showing scrollbar */
    scrollbar-width: thin;
    overflow-x: hidden;
  }

}