@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playwrite+HU:wght@100..400&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Edu+AU+VIC+WA+NT+Hand:wght@400..700&family=Playwrite+HU:wght@100..400&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nerko+One&display=swap'); /* Nerko One*/
@import url('https://fonts.googleapis.com/css2?family=Acme&family=Lobster&family=Nerko+One&display=swap'); /*Acme Lobster Nerko One*/
@import url('https://fonts.googleapis.com/css2?family=Fredoka+One&display=swap'); /*Fredoka One*/
@import url('https://fonts.googleapis.com/css2?family=Courgette&display=swap'); /*Courgette*/
@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300&display=swap');/*Comfortaa*/
@import url('https://fonts.googleapis.com/css2?family=Concert+One&family=Righteous&display=swap');/*Concert One*/
@import url('https://fonts.googleapis.com/css2?family=Righteous&display=swap');/*Righteous*/
@import url('https://fonts.googleapis.com/css2?family=Concert+One&family=Monda:wght@700&family=Righteous&display=swap');/*Monda*/
@import url('https://fonts.googleapis.com/css2?family=Maven+Pro&display=swap');/*Maven Pro*/
@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200&display=swap'); /*Nunito*/
@import url('https://fonts.googleapis.com/css2?family=Honk:MORF@16&family=Paytone+One&display=swap');/*Paytone One*/
@import url('https://fonts.googleapis.com/css2?family=Bungee+Tint&display=swap');/*Bungee Tint*/
@import url('https://fonts.googleapis.com/css2?family=Style+Script&display=swap'); /*Style Script*/
@import url('https://fonts.googleapis.com/css2?family=Agbalumo&display=swap'); /*Agbalumo*/
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


/*Nunito Maven Pro Righteous Monda Concert One Courgette Fredoka One Lobster Nerko One Poppins Playwrite HU*/
/*Agbalumo     Style Script     Bungee Tint     Paytone One     Nunito  DM Sans      Plus Jakarta    Manrope  Kanit*/


/* Media query for big screens */
@media (min-width: 781px) {
    html, body {
        margin: 0;
        padding: 0;
    }
    .mainArea {
        width: 80%;
        height: 100%; /* Fill parent (body) */
        margin: auto;
        display: flex; /* Enable flexbox */
        flex-direction: column; /* Stack children vertically */
        box-shadow: 
        -10px 0 15px -5px rgba(0, 0, 0, 0.5), /* Left shadow */
        10px 0 15px -5px rgba(0, 0, 0, 0.5);  /* Right shadow */
    }
    .headerArea {
        height: 10vh;
        background-color: #26619C;
        color: white;
        font-family: "Nunito", sans-serif;
        display: flex;
        flex-direction: row;
        align-items: center;
    }
    .logoArea {
        width: 10%;
        padding-top: 10px;
        cursor: pointer;
        background-color: rgba(255, 255, 255, 0.742);
    }
    .logoArea img {
        width: 100px;
    }
    .titleArea {
        padding: 20px;
        width: 90%;
        box-shadow: -5px 0 10px rgba(0, 0, 0, 0.2); /* Adds a subtle shadow on the left */
    }
    .headerArea h2, .headerArea h4 {
        margin: 0;
        padding: 0;
        cursor: pointer;
    }
    .navbarArea {
        height: 5vh;
        background-color: #fd7e00;
        color: black;
    }
    .navbarList {
        height: 100%;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
        align-content: center;
        list-style-type: none; /* This removes the dots/bullets */
        padding-left: 0; /* removes default padding on the left */
        margin: 0;
    }
    .navbarList li {
        height: 100%;
        cursor: pointer;
        display: flex; /* Enable flexbox for the span */
        text-align: center;
        justify-content: center;
        flex: 1;
        align-items: center; 
        font-family: "Monda", "DM Sans";
        
    }
    .navbarList li:hover {
        background-color: #884400;
        font-weight: bolder;
        color: white
    }
    .navbarList a {
        text-decoration: none;
        color: black;
    }
    .navbarList a:hover {
        color: white
    }

    .bottomArea {
        flex: 1; /* Takes remaining space */
        display: flex; /* Optional: If you want nested flexbox */
        flex-direction: column; /* Stack contentArea, commentArea, footerArea */
        padding-left: 20px;
    }

    .requiredDocs ol {
      background-color: #e6f3e6;
      border-radius: 10px;
      padding: 20px 20px 20px 40px;
      box-shadow: 0 4px 15px rgba(0, 128, 0, 0.2);
      max-width: 600px;
      margin: 20px auto;
    }
    .requiredDocs ol h3 {
      font-size: 1.2em;
      color: #2e7d32;
      display: block;
      margin-bottom: 10px;
    }
    .requiredDocs li {
      margin-bottom: 12px;
      position: relative;
      padding-left: 20px;
    }
    .requiredDocs li::before {
      content: "✔";
      color: #2e7d32;
      font-weight: bold;
      position: absolute;
      left: 0;
      top: 0;
    }
    .requiredDocs li ul {
      margin-top: 10px;
      padding-left: 20px;
    }
    .requiredDocs li ul li::before {
      content: "→";
      color: #4caf50;
    }

}

/* Media query for small screens */
@media (max-width: 780px) {
    html, body {
        margin: 0;
        padding: 0;
    }
    .mainArea {
        width: 100%;
        height: 100%; /* Fill parent (body) */
        margin: auto;
        display: flex; /* Enable flexbox */
        flex-direction: column; /* Stack children vertically */
        box-shadow: 
        -10px 0 15px -5px rgba(0, 0, 0, 0.5), /* Left shadow */
        10px 0 15px -5px rgba(0, 0, 0, 0.5);  /* Right shadow */
    }
    .headerArea {
        height: 10vh;
        background-color: #26619C;
        color: white;
        font-family: "Nunito", sans-serif;
        display: flex;
        flex-direction: row;
        align-items: center;
    }
    .logoArea {
        width: 20%;
        padding-top: 5px;
    }
    .logoArea img {
        width: 80px;
    }
    .titleArea {
        padding: 10px;
        width: 80%;
    }
    .headerArea h2, .headerArea h4 {
        margin: 0;
        padding: 0;
        cursor: pointer;
    }
    .headerArea h2 {
        font-size: 17px;
    }
    .headerArea h4 {
        font-size: 14px;
    }
    .navbarArea {
        display: block;
        height: 30vh;
        background-color: #fd7e00;
        color: black;
    }
    .navbarList {
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        align-content: center;
        list-style-type: none; /* This removes the dots/bullets */
        padding-left: 0; /* removes default padding on the left */
        margin: 0;
    }
    .navbarList li {
        height: 100%;
        width: 100%;
        display: flex; /* Enable flexbox for the span */
        text-align: center;
        justify-content: center;
        flex: 1;
        align-items: center; 
        font-family: "Monda", "DM Sans";
        box-shadow: 0 1px 1px 0 white
    }
    .navbarList a {
        text-decoration: none;
        color: black;
    }
    .navbarList a:hover {
        color: white
    }

    .bottomArea {
        flex: 1; /* Takes remaining space */
        display: flex; /* Optional: If you want nested flexbox */
        flex-direction: column; /* Stack contentArea, commentArea, footerArea */
        padding-left: 5px;
    }

    .requiredDocs ol {
      background-color: #e6f3e6;
      border-radius: 10px;
      padding: 10px 10px 10px 20px;
      box-shadow: 0 4px 15px rgba(0, 128, 0, 0.2);
      max-width: 600px;
      margin: 20px auto;
    }
    .requiredDocs ol h3 {
      font-size: 14px;
      color: #2e7d32;
      display: block;
      margin-bottom: 10px;
    }
    .requiredDocs li {
      margin-bottom: 12px;
      position: relative;
      padding-left: 20px;
    }
    .requiredDocs li::before {
      content: "✔";
      color: #2e7d32;
      font-weight: bold;
      position: absolute;
      left: 0;
      top: 0;
    }
    .requiredDocs li ul {
      margin-top: 10px;
      padding-left: 20px;
    }
    .requiredDocs li ul li::before {
      content: "→";
      color: #4caf50;
    }

}