/* Media query for big screens */
@media (min-width: 781px) {
    .pricesMainArea {
        width: 100%;
        font-family: "Ubuntu";
        line-height: 1.5;
        padding-right: 20px;
        text-align: justify; /* Justifies the text */
        word-wrap: break-word; /* Breaks long words to fit within the width */
        hyphens: auto; /* Allows hyphenation where supported */
    }
    .pricesHeader {
        width: 100%;
        margin: auto;
        display: flex;
        align-items: center;
        justify-content: center;
        color: black;
        font-family: "Monda";
        font-size: 25px;
    }
    .pricesContent1, .pricesContent2 {
        width: 90%;
        word-wrap: break-word; /* Ensures words break within the container */
        word-break: break-word; /* Breaks long words */
        overflow-wrap: break-word; /* Wraps text within the container */
        white-space: normal; /* Prevents long inline content from forcing a horizontal scroll */
        overflow-x: hidden; /* Hides any overflowing content horizontally */
    }
    
    .pricesContent2 {
        width: 100%;
        display: flex;
        flex-direction: column;
    }
    .bottomPricesListItem {
        width: 75%;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        cursor: pointer;
        margin-top: 5px;
    }
    .bottomPricesListItem:hover, .bottomPricesListItem:active {
        box-shadow: 0px 4px 8px -2px rgba(255, 204, 0, 0.7); /* Dark yellow shadow only at the bottom */
        transition: box-shadow 0.3s ease; /* Smooth transition for the shadow effect */
    }
    .subDetails {
        width: 50%;
        font-family: "Ubuntu";
        font-size: 14px;
        font-style: italic;
        margin-right: 15px;
        padding: 15px;
        border-radius: 8px;
    }
    .subDetails span {
        font-weight: bolder;
    }
    .spanListTitle {
        font-weight: bolder;
    }
}

/* Media query for small screens */
@media (max-width: 780px) {
    .pricesMainArea {
        width: 100%;
        font-family: "Ubuntu";
        line-height: 1.5;
        padding-right: 10px;
        text-align: justify; /* Justifies the text */
        word-wrap: break-word; /* Breaks long words to fit within the width */
        hyphens: auto; /* Allows hyphenation where supported */
    }
    .pricesHeader {
        width: 100%;
        margin: auto;
        display: flex;
        align-items: center;
        justify-content: center;
        color: black;
        font-family: "Monda";
        font-size: 20px;
    }
    .pricesContent1, .pricesContent2 {
        width: 95%;
        font-size: 14px;
        word-wrap: break-word; /* Ensures words break within the container */
        word-break: break-word; /* Breaks long words */
        overflow-wrap: break-word; /* Wraps text within the container */
        white-space: normal; /* Prevents long inline content from forcing a horizontal scroll */
        overflow-x: hidden; /* Hides any overflowing content horizontally */
    }
    
    .pricesContent2 {
        margin-top: 15px;
        width: 100%;
        display: flex;
        flex-direction: column;
    }
    .bottomPricesListItem {
        width: 95%;
        display: flex;
        padding: 5px;
        flex-direction: row;
        justify-content: space-between;
        cursor: pointer;
        margin-top: 5px;
    }
    .spanListTitle {
        font-weight: bolder;
        width: 75%;
        text-align: left;
    }
    .spanPrices {
        width: 35%;
        padding-left: 5px;
    }
    .bottomPricesListItem:hover, .bottomPricesListItem:active {
        box-shadow: 0px 4px 8px -2px rgba(255, 204, 0, 0.7); /* Dark yellow shadow only at the bottom */
        transition: box-shadow 0.3s ease; /* Smooth transition for the shadow effect */
        background-color: lightblue;
    }
    .subDetails {
        width: 80%;
        font-family: "Ubuntu";
        font-size: 13px;
        font-style: italic;
        margin-right: 10px;
        margin-top: 10px;
        padding: 5px;
        border-radius: 8px;
        line-height: 1.5;
    }
    .subDetails span {
        font-weight: bolder;
    }

}