/* Media query for big screens */
@media (min-width: 781px) {

    .residencyContentArea {
        font-family: "Ubuntu";
        line-height: 1.5;
        padding-right: 20px;
        text-align: justify; /* Justifies the text */
        word-wrap: break-word; /* Breaks long words to fit within the width */
        hyphens: auto; /* Allows hyphenation where supported */
    } 
 
    .residencyHeader { 
        width: 100%;
        margin: auto;
        display: flex;
        align-items: center;
        justify-content: center;
        color: black;
        font-family: "Monda";
        font-size: 25px;
    }
    
    .infoResidencyCardsMain {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center; /* Horizontally center children */
        justify-content: center; /* Vertically center children */
    }
    .infoResidencyCardsRows {
        display: flex;
        flex-direction: row;
    }
    .infoResidencyCards1, .infoResidencyCards2, .infoResidencyCards3, .infoResidencyCards4 {
        background-color: aqua;
        height: 200px;
        width: 400px;
        margin: 5px;
        display: flex;
        flex-direction: column;
    
        position: relative;
        border: 1px solid transparent; /* Transparent border for the gradient */
        border-radius: 10px; /* Adjust based on design */
        background-origin: border-box;
        background-clip: content-box, border-box;
        box-sizing: border-box; /* Ensures proper sizing */
        padding: 1px; /* Inner padding inside the gradient border */
    }
    .infoResidencyCards1  {
        background-image: linear-gradient(white, white), /* Inner background */
                          linear-gradient(45deg, #ebf1f1, #3da077, #ebf1f1); /* Gradient border */
    }
    .infoResidencyCards2  {
        background-image: linear-gradient(white, white), /* Inner background */
                          linear-gradient(45deg, #ebf1f1, #f1e547, #ebf1f1); /* Gradient border */
    }
    .infoResidencyCards3  {
        background-image: linear-gradient(white, white), /* Inner background */
                          linear-gradient(45deg, #ebf1f1, #f45084, #ebf1f1); /* Gradient border */
    }
    .infoResidencyCards4  {
        background-image: linear-gradient(white, white), /* Inner background */
                          linear-gradient(45deg, #ebf1f1, #3c54da, #ebf1f1); /* Gradient border */
    }
    .infoResidencySvg {
        width: 40px;
    }
    
    .infoCardUpper {
        display: flex;
        flex-direction: row;
        padding: 5px 5px 0 5px;
        align-items: center;
    }
    .infoCardLower {
        font-size: 14px;
        padding: 0 5px 10px 5px;
        display: flex;
        flex-direction: column;
    }
    .infoCardLower span {
        margin-top: 10px;
    }
    .infoCardTitle {
        font-size: 16px;
        font-weight: bold;
        margin-left: 13px;
    }
    .redCube {
        background-color: #ff0b0b !important;
    }
    .greenCube {
        background-color: #0cb444 !important;
    }


    .residencyTable {
        width: auto;
        margin: auto;
    }
    .residencyTable tr td,
    .residencyTable tr th {
        width: 160px; /* Maximum width for cells */
        overflow: visible; /* Allows content to be fully visible */
        white-space: normal; /* Allows text to wrap onto the next line */
        word-wrap: break-word; /* Ensures words wrap properly if they are too long */
        word-break: break-word; /* Breaks long words into the next line */
        font-size: 14px;
        padding: 5px;
        text-align: left;
    }

    .residencyTable th {
        background-color: rgba(0, 101, 153, 0.8);
        text-align: center;
    }
    .residencyTable td {
        background-color: rgba(162, 223, 254, 0.4);
    }
    
    .leavesCompany {
        width: 18px;
    }
    .residencyLinks a {
        text-decoration: none;
    }
}
/* Media query for small screens */
@media (max-width: 780px) {

    .residencyContentArea {
        font-family: "Ubuntu";
        line-height: 1.5;
        padding-right: 10px;
        text-align: justify; /* Justifies the text */
        word-wrap: break-word; /* Breaks long words to fit within the width */
        hyphens: auto; /* Allows hyphenation where supported */
    } 
 
    .residencyHeader { 
        width: 100%;
        margin: auto;
        display: flex;
        align-items: center;
        justify-content: center;
        color: black;
        font-family: "Monda";
        font-size: 20px;
        text-align: center;
    }
    
    .infoResidencyCardsMain {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center; /* Horizontally center children */
        justify-content: center; /* Vertically center children */
    }
    .infoResidencyCardsRows {
        display: flex;
        flex-direction: column;
    }
    .infoResidencyCards1, .infoResidencyCards2, .infoResidencyCards3, .infoResidencyCards4 {
        background-color: aqua;
        height: 210px;
        width: 300px;
        margin: 5px;
        display: flex;
        flex-direction: column;
    
        position: relative;
        border: 1px solid transparent; /* Transparent border for the gradient */
        border-radius: 10px; /* Adjust based on design */
        background-origin: border-box;
        background-clip: content-box, border-box;
        box-sizing: border-box; /* Ensures proper sizing */
        padding: 1px; /* Inner padding inside the gradient border */
    }
    .infoResidencyCards1  {
        background-image: linear-gradient(white, white), /* Inner background */
                          linear-gradient(45deg, #ebf1f1, #3da077, #ebf1f1); /* Gradient border */
    }
    .infoResidencyCards2  {
        background-image: linear-gradient(white, white), /* Inner background */
                          linear-gradient(45deg, #ebf1f1, #f1e547, #ebf1f1); /* Gradient border */
    }
    .infoResidencyCards3  {
        background-image: linear-gradient(white, white), /* Inner background */
                          linear-gradient(45deg, #ebf1f1, #f45084, #ebf1f1); /* Gradient border */
    }
    .infoResidencyCards4  {
        background-image: linear-gradient(white, white), /* Inner background */
                          linear-gradient(45deg, #ebf1f1, #3c54da, #ebf1f1); /* Gradient border */
    }
    .infoResidencySvg {
        width: 40px;
    }
    
    .infoCardUpper {
        display: flex;
        flex-direction: row; 
        padding: 5px 5px 0 5px;
        align-items: center;
    }
    .infoCardLower {
        font-size: 13px;
        padding: 0 5px 10px 5px;
        display: flex;
        flex-direction: column;
    }
    .infoCardLower span {
        margin-top: 10px;
    }
    .infoCardTitle {
        font-size: 15px;
        font-weight: bold;
        margin-left: 13px;
    }
    .redCube {
        background-color: #ff0b0b !important;
    }
    .greenCube {
        background-color: #0cb444 !important;
    }


    .residencyTable {
        width: auto;
        margin: auto;
    }
    .residencyTable tr td,
    .residencyTable tr th {
        width: 160px; /* Maximum width for cells */
        overflow: visible; /* Allows content to be fully visible */
        white-space: normal; /* Allows text to wrap onto the next line */
        word-wrap: break-word; /* Ensures words wrap properly if they are too long */
        word-break: break-word; /* Breaks long words into the next line */
        font-size: 12px;
        padding: 5px;
        text-align: left;
    }

    .residencyTable th {
        background-color: rgba(0, 101, 153, 0.8);
        text-align: center;
    }
    .residencyTable td {
        background-color: rgba(162, 223, 254, 0.4);
    }
    
    .leavesCompany {
        width: 13px;
    }
    .residencyLinks {
        font-size: 14px;
    }
    .residencyLinks a {
        text-decoration: none;
    }
    .residencyContent1 p, .residencyContent2 p {
        font-size: 13px;
    }
}