/* Media query for big screens */
@media (min-width: 781px) {
    .servicesAreaSmall, .servicesHeaderSmall, .infoAreas2Small, .infoSheets2Small, 
    .infoTitle2Small, .infoSVG2Small, #companyBoxSmall, #companyBox2Small {
        display: none;
    }
    .servicesArea {
        line-height: 1.5;
        padding-right: 20px;
        display: flex;
        flex-direction: column;
        background-color: white;
        font-family: "Maven Pro", "Monda";
    }
    .servicesHeader {
        width: 100%;
        margin: auto;
        display: flex;
        align-items: center;
        justify-content: center;
        color: black;
        font-family: "Monda";
        font-size: 25px;
    }
    .infoAreas2 {
        height: 300px;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        text-align: justify;
        padding-left: 20px;
        padding-top: 20px;
    }
    .infoSheets2 {
        max-width: 25%;
        padding: 7px;
        background-color: white;
        border-radius: 10px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    
    .infoTitle2 {
        font-size: 20;
        font-weight: bold;
        padding-top: 10px;
        padding-bottom: 10px;
    }
    .infoSVG2 img {
        width: 50px; /* Ensure SVG image does not overflow */
        height: auto; /* Maintain aspect ratio */
    }
    .infoText2 {
        font-size: 15px;
        padding-left: 10px;
        padding-right: 10px;
        padding-bottom: 10px;
        line-height: 1.2; /* Improve readability */
        color: #474747;
        font-style: italic;
    }

    #companyBox {
        background-color: aliceblue;
        transition: box-shadow 0.3s ease; /* Smooth transition for both effects */
    }
    #companyBox:hover {
        cursor: default;
        box-shadow: -4px -4px 12px rgba(0, 0, 0, 0.3); /* Moves shadow to the top-left */
    }
    #companyBox2 {
        transition: box-shadow 0.3s ease; /* Smooth transition for both effects */
    }
    #companyBox2:hover {
        cursor: default;
        box-shadow: 4px 4px 12px rgba(0, 0, 0, 0.3); /* Moves shadow to the bottom-right */
    }
    #companyBox3 {
        background-color: aliceblue;
        transition: box-shadow 0.3s ease, transform 0.3s ease; /* Smooth transition for both effects */
    }
    #companyBox3:hover {
        cursor: pointer;
        box-shadow: -4px -4px 12px rgba(0, 0, 0, 0.3); /* Moves shadow to the top-left */
        transform: translate(-4px, -4px); /* Moves the element slightly to the top-left */
    }
}


@media (max-width: 780px) {
    .servicesArea, .servicesHeader, .infoAreas2, .infoSheets2, .infoTitle2, .infoSVG2, #companyBox, #companyBox2 {
        display: none;
    }
    .servicesAreaSmall {
        width: 90%;
        margin: auto;
        line-height: 1.5;
        display: flex;
        flex-direction: column;
        background-color: white;
        font-family: "Maven Pro", "Monda";
    }
    .servicesHeaderSmall {
        width: 100%;
        margin: auto;
        display: flex;
        align-items: center;
        justify-content: center;
        color: black;
        font-family: "Monda";
        font-size: 20px;
    }
    .infoAreas2Small {
        display: flex;
        flex-direction: column;
        text-align: justify;
        padding-top: 20px;
    }
    .infoSheets2Small {
        margin-bottom: 15px;
        height: 220px;
        padding: 7px;
        background-color: white;
        border-radius: 10px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    
    .infoTitle2Small {
        font-weight: bold;
        padding-top: 5px;
        padding-bottom: 5px;
    }
    .infoSVG2Small img {
        width: 50px; /* Ensure SVG image does not overflow */
        height: auto; /* Maintain aspect ratio */
    }
    .infoText2Small {
        font-size: 14px;
        padding-left: 10px;
        padding-right: 10px;
        padding-bottom: 10px;
        line-height: 1.5; /* Improve readability */
        color: #474747;
        font-style: italic;
    }

    #companyBoxSmall {
        background-color: aliceblue;
        transition: box-shadow 0.3s ease; /* Smooth transition for both effects */
    }
    #companyBox2Small {
        transition: box-shadow 0.3s ease; /* Smooth transition for both effects */
    }

}