.questionsMain {
    width: 100%;
    margin: auto;
    box-sizing: border-box;
    
}
.questionsArea {
    width: 95%;
    margin: auto;
    display: flex;
    flex-direction: column;
    font-size: 16px;
}
.questionCards {
    margin-bottom: 14px;
}
.questionJautajums {
    background-color: #f2f2f2;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center; /* Vertically centers the content */
    padding: 9px;
    font-weight: bold;
    transition: background-color 0.4s ease;
    font-size: 16px;
}
.questionJautajums:hover {
    cursor: pointer;
    background-color: #f365c3;
}
.questionAtbildi {
    align-items: center; /* Vertically centers the content */
    padding: 9px;
}
.plusSign {
    width: 29px;
    color: rgb(128, 128, 128);
}

/* Media query for small screens */
@media (max-width: 780px) {
    .plusSign {
        width: 22px;
        color: rgb(128, 128, 128);
    }
}