/* Media query for big screens */
@media (min-width: 781px) {
    .bottomPricesMainArea {
        width: 100%;
        margin: 15px;
    }
    .bottomPricesHeader {
        width: 100%;
        margin: auto;
        display: flex;
        align-items: center;
        justify-content: center;
        color: black;
        font-family: "Monda";
    }
    .bottomPricesContent1, .bottomPricesContent2 {
        width: 90%;
        word-wrap: break-word; /* Ensures words break within the container */
        word-break: break-word; /* Breaks long words */
        overflow-wrap: break-word; /* Wraps text within the container */
        white-space: normal; /* Prevents long inline content from forcing a horizontal scroll */
        overflow-x: hidden; /* Hides any overflowing content horizontally */
    }
    
    .bottomPricesContent2 {
        width: 100%;
        display: flex;
        flex-direction: column;
    }
    .bottomPricesListItem {
        width: 75%;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        cursor: pointer;
        margin-top: 5px;
    }
    .bottomPricesListItem:hover, .bottomPricesListItem:active {
        box-shadow: 0px 4px 8px -2px rgba(255, 204, 0, 0.7); /* Dark yellow shadow only at the bottom */
        transition: box-shadow 0.3s ease; /* Smooth transition for the shadow effect */
    }
    .subDetails {
        width: 50%;
        font-family: "Ubuntu";
        font-size: 14px;
        font-style: italic;
        margin-right: 15px;
        padding: 15px;
        border-radius: 8px;
    }
    .subDetails span {
        font-weight: bolder;
    }
    .spanListTitle {
        font-weight: bolder;
    }
}



/* Media query for small screens */
@media (max-width: 780px) {
    .bottomPricesMainArea {
        width: 100%;
        margin: 10px;
    }
    .bottomPricesHeader {
        width: 100%;
        margin: auto;
        display: flex;
        align-items: center;
        justify-content: center;
        color: black;
        font-family: "Monda";
    }
    .bottomPricesContent1, .bottomPricesContent2 {
        width: 95%;
        word-wrap: break-word; /* Ensures words break within the container */
        word-break: break-word; /* Breaks long words */
        overflow-wrap: break-word; /* Wraps text within the container */
        white-space: normal; /* Prevents long inline content from forcing a horizontal scroll */
        overflow-x: hidden; /* Hides any overflowing content horizontally */
        text-align: justify;
        font-size: 16px;
    }
    
    .bottomPricesContent2 {
        width: 100%;
        display: flex;
        flex-direction: column;
    }
    .priceEntry {
        width: 100%;
        margin-top: 15px;

    }
    .bottomPricesListItem {
        width: 95%;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        cursor: pointer;
    }
    .spanListTitle {
        width: 70%;
    }
    .spanPrices {
        width: 30%;
        text-align: right;
    }
    .bottomPricesListItem:hover, .bottomPricesListItem:active {
        box-shadow: 0px 4px 8px -2px rgba(255, 204, 0, 0.7); /* Dark yellow shadow only at the bottom */
        transition: box-shadow 0.3s ease; /* Smooth transition for the shadow effect */
    }
    .subDetails {
        width: 80%;
        font-family: "Ubuntu";
        font-size: 14px;
        font-style: italic;
        margin-right: 15px;
        padding: 15px;
        border-radius: 8px;
    }
    .subDetails span {
        font-weight: bolder;
    }
    .spanListTitle {
        font-weight: bolder;
    }
}